<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/play">Play</a></li>
  </ul>
  <h3 class="text-muted">tacticsfx</h3>
</div>

<div class="jumbotron play">
  <p class="lead">
    <br> 
    <!-- {{ turn }}'s turn: -->
    <table class="gameboard">
      <tbody>
        <tr ng-repeat="row in grid">
          <td ng-repeat="tile in row track by $index" tile ng-click="moveUnit($parent.$index, $index)" ng-class="{ highlight : isSelected($parent.$index, $index) }">
            <div ng-class="{ active : isTurn(tile.id)}" ng-click="possibleMoves( tile.id, tile.yposition, tile.xposition)" ng-if="tile.name.length > 1" unit>{{tile}}</div>
          </td>
        </tr>
      </tbody>
    </table>


  </p>
</div>

<div class="row marketing">
  <h4>Instructions:</h4>
  <p>
    <strong>Objective:</strong> Defeat all enemies! <br/>
    <strong>Instructions:</strong> Take turns moving units around the board. Click on a unit to see it's possible moves. To attack an enemy unit, just move a unit within range (1 space).
  </p>
  <p class="bg-warning" style="padding: 10px;"><b>Important:</b> The computer player is not running yet, so for now you will just have to play yourself. :)</p>
</div>
